{% extends 'user_layout.html' %}
    {% block head %}
    <script>
        function get_place(did){
            alert(did);
            url = "ajaxPlace/" + did
            fetch(url).then(data => data.text()).then(data => {
            document.getElementById('slct_place').innerHTML = data
            })
        }
    </script>
        <title>User Deails</title>
    {% endblock head %}

        {% block body %}
        <div style="margin-left:30%">
            <div class="w3-container" style="width:300px">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="w3-panel w3-red w3-display-container" style="margin-bottom:0px">
                            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
                            <h6>{{ messages[0] }}</h6>
                        </div>
                {% endif %}
                {% endwith %}
                <div class="w3-card-4">
                    
                </div>
            </div>
        </div>
    {% endblock body %}
